@import "@saas-ui/svelte/styles/global.css";

@source "../../../../packages/saas-svelte";
@source "../../../storybook/stories/wrappers";

/* Shiki code block styles */
.shiki-wrapper pre {
	padding: 0;
	margin: 0;
	border-radius: 0;
	overflow-x: auto;
	background-color: transparent !important;
	background: transparent !important;
}

.shiki-wrapper code {
	display: block;
	width: fit-content;
	min-width: 100%;
	padding-bottom: 1rem;
}

html.dark .shiki,
html.dark .shiki span {
	color: var(--shiki-dark) !important;
	background-color: var(--shiki-dark-bg) !important;
}
