---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.svelte";
import ComponentsPreview from "../components/sections/ComponentsPreview.svelte";
import WhySection from "../components/sections/WhySection.svelte";
import ClosingCTA from "../components/sections/ClosingCTA.svelte";
import Showcase from "../components/Showcase.svelte";
---

<Layout title="SaaS UI Svelte">
	<main>
		<Hero client:load />
		<Showcase client:load />
		<ComponentsPreview client:load />
		<WhySection client:load />
		<ClosingCTA client:load />
	</main>
</Layout>
