/* Global keyframes for Tailwind arbitrary animation values */
@keyframes progress-stripe {
	from {
		background-position: 1rem 0;
	}
	to {
		background-position: 0 0;
	}
}

@keyframes progress-indeterminate {
	0% {
		left: -50%;
	}
	100% {
		left: 100%;
	}
}
