---
import "../styles/global.css";
import Navbar from "../components/Navbar.svelte";
import Footer from "../components/Footer.svelte";
import { themeInitScript } from "../lib/theme";

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="SaaS UI Svelte" />
		<meta name="viewport" content="width=device-width" />
		<link
			rel="icon"
			type="image/svg+xml"
			href={`${import.meta.env.BASE_URL}favicon.svg`}
		/>
		<title>{title}</title>
		<script is:inline define:vars={{ themeInitScript }}>
			eval(themeInitScript);
		</script>

		<script>
			document.addEventListener("keydown", (e) => {
				if (
					e.key === "Tab" &&
					!e.shiftKey &&
					document.activeElement === document.body
				) {
					const skipLink = document.getElementById("skip-link");
					if (skipLink) {
						e.preventDefault();
						skipLink.focus();
					}
				}
			});
		</script>
	</head>
	<body class="bg-bg-default text-fg-default pt-14">
		<a
			id="skip-link"
			href="#main"
			class="absolute -top-full left-0
                focus:fixed focus:top-3 focus:left-4 focus:z-9999
                focus:inline-flex focus:h-8 focus:items-center focus:justify-center focus:px-3
                focus:rounded focus:font-medium focus:text-sm focus:antialiasedfocus:outline-none
                focus:bg-(--colors-accent-solid) focus:text-(--colors-accent-contrast)"
		>
			Skip to main content
		</a>
		<Navbar client:load />
		<main id="main" class="scroll-mt-20">
			<slot />
		</main>
		<Footer client:load />
	</body>
</html>
