name: Build and Deploy to GitHub Pages

on:
    push:
        branches:
            - "main"

permissions:
    contents: read
    pages: write
    id-token: write

concurrency:
    group: "pages"
    cancel-in-progress: false

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v4
              with:
                  fetch-depth: 0

            - name: Setup Node
              uses: actions/setup-node@v4
              with:
                  node-version: "20"
                  cache: "npm"

            - name: Install dependencies
              run: npm ci

            - name: Get installed Playwright version
              id: playwright-version
              run: |
                  VERSION=$(npm ls playwright | grep playwright | head -1 | sed 's/.*@//' | awk '{print $1}' | tr -d '\n')
                  echo "version=$VERSION" >> $GITHUB_OUTPUT

            - name: Cache Playwright binaries
              uses: actions/cache@v4
              id: playwright-cache
              with:
                  path: |
                      ~/.cache/ms-playwright
                  key: ${{ runner.os }}-playwright-${{ steps.playwright-version.outputs.version }}


            - name: Install Playwright browsers
              run: npx playwright install --with-deps chromium

            - name: Build storybook and site with a11y report
              run: npm run build:ci

            - name: Combine outputs
              run: |
                  mkdir -p dist
                  cp -r apps/website/dist/* dist/
                  mkdir -p dist/storybook
                  cp -r apps/storybook/storybook-static/* dist/storybook/
                  touch dist/.nojekyll
                  echo "svelte.saas-ui.dev" > dist/CNAME

            - name: Upload Pages artifact
              uses: actions/upload-pages-artifact@v3
              with:
                  path: "dist"

    deploy:
        needs: build
        runs-on: ubuntu-latest
        environment:
            name: github-pages
            url: ${{ steps.deploy.outputs.page_url }}
        steps:
            - id: deploy
              name: Deploy to GitHub Pages
              uses: actions/deploy-pages@v4
              with:
                  token: ${{ github.token }}
